<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

@model  ResortPlay.Areas.Dashboard.ViewModels.AccomodationTypeActionModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">

            <h5 class="modal-title">
                Adding an element
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div class="modal-body">

            <form id="addForm">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="Name" placeholder="Enter Name..">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="Description" placeholder="Enter Description.."></textarea>
                </div>
            </form>

            <div class="errorDiv">
                
            </div>

        </div>
        <div class="modal-footer">
            <button id="addButton" type="button" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
    </div>
}


<script>
    $("#addButton").click(function () {
         $.ajax({
             url: '@Url.Action("Action", "AccomodationTypes")',
             type: "post",
             data: $("#addForm").serialize()
        })
             .done(function (response) {
                 
                if (response.Success)
                {
                    //data is saved.. reload listing
                    location.reload();
                }
                else
                {
                    $(".errorDiv").html(response.Message)
                }
            });
    });
</script>



