@model ResortPlay.Areas.Dashboard.ViewModels.AccomodationTypesListingModel

@if (Model != null && Model.AccomodationTypes != null && Model.AccomodationTypes.Count() > 0)
{
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var accomodationType in Model.AccomodationTypes)
            {
                <tr>
                    <td>@accomodationType.Name</td>
                    <td>@accomodationType.Description</td>
                    <td>
                        <!--Edit button-->
                        <button data-href="@Url.Action("Action", "AccomodationTypes", new {ID = accomodationType.Id })" type="button" class="data-btn btn btn-warning" data-toggle="modal" data-target="#popupWindow" aria-pressed="false" autocomplete="off">
                            Edit <i class="fa-solid fa-pen-nib"></i>
                        </button>
                        <!--Delete button-->
                        <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                            Delete <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}

else
{
    <div class="alert alert-warning" role="alert">
        Sorry! No added Accomodation Types yet, please add.
    </div>
}
